*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Helvetica';


    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
nav{
    background-image: url(./images/sign\ up.png);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin:  20px 70px ;
    border-radius: 10px;
    width: auto;
    height: 576px;
}
/* .Logo {
    display: flex;
    align-items: center;
}
.links ul {
    display: flex;
    align-items: center;
}

.links li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.links li:hover {
    color: #3498db;
}

.links i {
    font-size: 16px;
}
.button button {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500px;
    cursor: pointer;
    font-family: 'Helvetica';
    
    /* Add this line to remove any inner white background */
    /* -webkit-appearance: none;
    appearance: none;
}

.button button:hover {
    background-color: #34495e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}  